
/*header {
  background-color: #4267b2;
  height: 30px;
  margin-bottom: 16px;
}*/
/*footer {
  margin-top:16px;
  background-color: rgba(0,0,0,0.87);
  height: 30px;
}*/
#wrapper {
  margin-bottom: 16px;
}

#main,
#menu {
  height: 600px;
}

body {
  background-color: #e9ebee;
}
#sidebar{
  background: white;
  height: 300px;
}
#header{
 background-color: #4267b2;
 
}
#header .navbar-brand {
    color: white;

} 
#header .white-text{
	color:white;
}
#header ul .glyphicon {
    font-size: 20px;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;}

 #main::-webkit-scrollbar {
    display: none;
}
p {
  margin: 0 0 10px;
}
.comment {
    margin: 0;
}

.nav-stacked li a{
  color: black;
  font-size: 12px;
padding-bottom: 5px;
padding-top: 5px;
}
.nav-stacked p{
  font-size: 14px;
}
.birthday{
  background: white;
}
.birthday a{
  padding-bottom: 5px;
  margin-right: 6px;
  margin-left: 5px; 
}
.birthday i{
  margin-left: 10px;
  color: red;
}

